@tailwind base;
@tailwind components;
@tailwind utilities;


.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    color: white;
    margin-bottom: 20px;
    animation: zoomIn 1.5s ease-in-out;
}

.title {
    font-size: 3.5rem;
    margin: 0;
}

.subtitle {
    font-size: 1.5rem;
    margin: 20px 0;
    opacity: 0;
    animation: fadeInUp 2s forwards;
}

.start-btn {
    background-color: #ff7675;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.start-btn:hover {
    background-color: #e17055;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

.feature-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s forwards;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.feature-item h2 {
    margin: 0 0 10px;
    color: #16a085;
    font-size: 1.4rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.feature-item:before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(46, 204, 113, 0.2) 0%, rgba(39, 174, 96, 0.2) 100%);
    transition: all 0.4s;
    z-index: 0;
}

.feature-item:hover:before {
    top: 0;
}

.feature-item:nth-child(2) {
    animation-delay: 0.2s;
}

.feature-item:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes backgroundSlide {
    from {
        background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
    }

    to {
        background: linear-gradient(135deg, #9face6 0%, #74ebd5 100%);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sidebar-item {
    padding: 1rem;
    line-height: 1.25rem;

    &:hover {
        background-color: rgb(243 244 246 / 1);
    }
}

.option-active {
    & .number-data {
        background-color: black;
        color:white;
    }

    & .option-data {
        font-weight: 900;
    }
}

.answered {
    background-color: rgb(243 244 246 / 1);
}

.preloader-2 {
    margin: 120px auto 0;
    color: #fff;
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
}

.loading-txt {
    color: #fff;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
}


.preloader-2 .line {
    width: 1px;
    height: 12px;
    background: #fff;
    margin: 0 1px;
    display: inline-block;
    animation: opacity-2 1000ms infinite ease-in-out;
}

.preloader-2 .line-1 {
    animation-delay: 800ms;
}

.preloader-2 .line-2 {
    animation-delay: 600ms;
}

.preloader-2 .line-3 {
    animation-delay: 400ms;
}

.preloader-2 .line-4 {
    animation-delay: 200ms;
}

.preloader-2 .line-6 {
    animation-delay: 200ms;
}

.preloader-2 .line-7 {
    animation-delay: 400ms;
}

.preloader-2 .line-8 {
    animation-delay: 600ms;
}

.preloader-2 .line-9 {
    animation-delay: 800ms;
}

@keyframes opacity-1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity-2 {
    0% {
        opacity: 1;
        height: 15px;
    }

    50% {
        opacity: 0;
        height: 12px;
    }

    100% {
        opacity: 1;
        height: 15px;
    }
}
